<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div>
    <%= form.label :rating, class: "form-label" %>
    <%= form.text_field :rating, class: "form-input" %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description,class: "form-input" %>
  </div>

  <div>
    <%= form.label :release_date, class: "form-label" %>
    <%= form.text_field :release_date, class: "form-input" %>
  </div>

  <div>
    <%= form.submit style: "margin: 4px; padding: 10px 20px; border: none; border-radius: 3px; background-color: black; color: white; cursor: pointer;" %>
  </div>
<% end %>
