<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
    <th><%= sortable "title", "Title" %></th>
    <th><%= sortable "rating", "Rating" %></th>
    <th><%= sortable "release_date", "Release Date" %></th>
    <th><%= sortable "description", "Description" %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.description %></td>
        <td><%= link_to "Show this movie", movie_path(movie, sort: @sort_column, direction: @sort_direction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="new-movie"><%= link_to "New movie", new_movie_path(sort: @sort_column, direction: @sort_direction) %> </button>