<p style="color: green"><%= notice %></p>

<div class="show-container">
  <%= render @movie %>

  <div class="actions">
    <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-primary" %> |
    <%= link_to "Back to movies", movies_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-danger" %>
  </div>
</div>